body {
    background-image: url(first.img/about.jpg);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

#top{
    position: absolute;
    top: 60px;
    left: 200px;
    font-size: 30px;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    padding-top:170px ;
}

main {
    max-width: 800px;
    margin: 20px auto;
}
.contact-form {
    background-image: url(first.img/about1.jpg);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.contact-form:hover {
    transform: scale(1.02);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,textarea {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
